extends ../layout
block content
	h1 All torrents
	table(class="CSSTableGenerator")
		tr
			th Name
			th Description
			th size
			th Added
			th Category
			th File
		each torrent in torrents
			tr
				td #{torrent.name}
				td #{torrent.description}
				td #{torrent.size}
				td #{torrent.dateAdded}
				td #{torrent.category}
				td
					a(href="/downloadTorrent?name=#{torrent.name}") Download
	ul.list-unstyled.list-inline.text-center
		each value, index in new Array(pages)
			li
				a(class="btn btn-default pages" href="?page=#{index + 1}") #{index + 1}

